
<ion-header *ngIf="category | async as cat;">
  <ion-toolbar color="headcolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
       {{cat.name}}  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-template #loadingErrorTemplate>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>
  <div *ngIf="kavithaiList | async as kavlist; else  loadingErrorTemplate">
  <div *ngFor="let kav of kavlist; let i=index">
    <!-- <ion-card  [style.background-image]="kav.imageURL"  class="ion-activatable ripple-parent" style=" background-size: cover;   background-position: center;" > -->
      <ion-card  class="ion-activatable ripple-parent"  style="background-color: #D8BFD8;">
      <ion-card-header>
      
        <ion-card-content>
          <ion-fab horizontal="end" vertical="top" slot="fixed">
            <ion-fab-button color="secondary">
              <ion-icon md="caret-forward" ios="chevron-forward-circle-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button color="light"  (click)="shareWithOthers(kav)">
                <ion-icon name="share-social-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="light" (click)="shareWithFacebook(kav)">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="light"  (click)="shareWithTwitter(kav)">
                <ion-icon name="logo-instagram"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="light"  (click)="shareWithWhatsapp(kav)">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-card-content>
        <ion-card-subtitle [style.color]="kav.headerTextColor"><strong>{{i+1}}.{{kav.title}}</strong>
        </ion-card-subtitle>
      </ion-card-header>
      <img [src] ="kav.imageURL" style="height:256px; width: 100%;; object-fit:cover; text-align: center;"/>
      <ion-card-content [style.color]="kav.textColor"  class="card-kavithai-content" >

        <div [innerHTML] ="kav.content" style="padding: 16px;">
         
        </div>
       
      </ion-card-content>
    </ion-card>

     
  
     

     
    
  </div>
  
    
  </div>
</ion-content>
