
<ion-header >
  <ion-toolbar color="headcolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      கவிஞர்
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: #E6E6FA; color:#8B008B">
<ion-img class="img" src="../../../assets/author.jpg" style="height:100%;width:100%; object-fit: cover;"  alt="author-image"></ion-img>
<ion-card-content>
  <p>
    இக்கவிதைகள் அனைத்தும் <strong> திரு காதர் இபுராகிம்</strong> அவர்களின் சொந்த கற்பனை படைப்பு..இவர் சிறு வயது முதலே தமிழ் மொழியின் மீது தீராது பற்று உள்ளவர்.. என்னத்திலும் எழுத்திலும் தமிழ் மொழியின் மீது அன்பு கொண்டவர்..
பொருளாதாரத்தில் முதுகலை படிப்பை முடித்து உள்ளார்.
<br>
பள்ளிப்படிப்பை தனது சொந்த ஊரான இராமநாதபுரம் பனைக்குளத்தில் உள்ள அரசு பள்ளியில் பயின்றார்.. அதே பள்ளியில் ஆசிரியராகவும் பணியாற்றினார்..
இவர் பல தலைப்புகளின் தன் கவிதைகள் இயற்றியுள்ளார்..இக்கவிதைகள் அனைத்தையும் இந்த ஆப்பில் பதிவேற்றம் செய்ய முயற்சி மேற்கொண்டுள்ளோம்..
<strong>தினமும் புது புது கவிதைகள் பதிவேற்றம் செய்யப்படும்..</strong>
எங்கள் முயற்சிக்கு உங்கள் ஆதரவை தரும்படி கேட்டு கொள்கிறோம்..
  </p>
  <p>
    இவரை தொடர்பு கொள்ள கீழ்கண்ட வாட்சப் எண்னை பயன்படுத்தவும்.
  </p>
  <ion-list style="--ion-background-color:#DA70D6" >
    <ion-item   lines="none">
      <ion-label><ion-icon name="logo-whatsapp"></ion-icon></ion-label><span style="color: white;">+91-8807683110</span>
    </ion-item>
  </ion-list>
</ion-card-content>

</ion-card>
</ion-content>
