
<ion-header >
  <ion-toolbar color="headcolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: #E6E6FA; color:#8B008B">
    <ion-card-header>
      <ion-card-subtitle>About this app</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="background-color: #DA70D6;">
      <ion-list >
        <ion-item  lines="none">
          <ion-label style="color: white;">Version:</ion-label><ion-note>1.0</ion-note>
        </ion-item>
        <ion-item lines="none">
          <ion-label style="color: white;">Developer:</ion-label><ion-note>KSTech Company</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card style="background-color: #E6E6FA; color:#8B008B">
    <ion-card-header>
      <ion-card-subtitle>About Us</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     <p>
       We are also developing apps for small - medium range business and empowering them in their digital journey.
     </p>
     <p>
       If you have any requirement , please kindly contact us.
     </p>
     <ion-list >
      <ion-item style="background-color:#E6E6FA;"  lines="none">
        <ion-label><ion-icon name="mail-outline"></ion-icon></ion-label><span style="color: white;">kamil467@gmail.com</span>
      </ion-item>
      <ion-item  style="background-color:#E6E6FA;" lines="none">
        <ion-label><ion-icon name="logo-whatsapp"></ion-icon></ion-label><span style="color: white;">+91-8884081427</span>
      </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
